
@{
    ViewData["Title"] = "امین مردانی";
}
<!-- Home -->
<section id="home" data-nav-tooltip="Home" class="pp-section pp-scrollable">
    <div class="home-banner">
        <div class="container">
            <div class="row full-screen align-items-center">
                <div class="col-lg-6">
                    <div class="type-box">
                        <h6>سلام، خوش آمدید</h6>
                        <h1>امین مردانی</h1>
                        <p class="lead">من یک <span id="type-it"></span> هستم</p>
                        <p class="desc">
                            من خدمات طراحی و توسعه برای مشتریان در هر مقیاس ارائه می دهم. متخصص در
                            ایجاد وب سایت ها، خدمات وب و فروشگاه های آنلاین زیبا و مدرن.
                        </p>
                        <div class="btn-bar">
                            <a class="px-btn px-btn-theme" href="#">دریافت رزومه</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hb-img">
                        <img src="/static/img/home-banner.png" title="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Home -->
<!-- about us -->
<section id="about" data-nav-tooltip="About" class="pp-section pp-scrollable section counter">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 m-15px-tb">
                <div class="about-me">
                    <div class="img">
                        <div class="img-in">
                            <img src="/static/img/about-me.png" title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 m-15px-tb">
                @await Component.InvokeAsync("AboutMe")
            </div>
        </div>
        <div class="separated"></div>
        <div class="title">
            <h3>تحصیلات و مهارت ها</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 m-15px-tb">
                @await Component.InvokeAsync("Major")
            </div>
            <div class="col-lg-7 ml-auto m-15px-tb">
                <div class="skills-box">
                    <h3>مهارت های من</h3>
                    @await Component.InvokeAsync("SkillDesc")
                    <div class="skill-section">
                        @await Component.InvokeAsync("SkillDetail")
                    </div>
                </div>
            </div>
        </div>
        <div class="separated"></div>
        <div class="title">
            <h3>تجربه ها.</h3>
        </div>
        <div class="resume-box">
            @await Component.InvokeAsync("Experience")
        </div>
    </div>
</section>
<!-- End about us -->
<!-- Services -->
<section id="services" data-nav-tooltip="Services" class="pp-section pp-scrollable section">
    <div class="container">
        <div class="title">
            <h3>چه کارهایی می‌کنم؟</h3>
        </div>
        <div class="row">
            @await Component.InvokeAsync("DoWork")
        </div>
        <div class="separated"></div>
        <div class="title">
            <h3>سخن مشتریان.</h3>
        </div>
        <div class="owl-carousel" data-items="2" data-nav-dots="true" data-md-items="2" data-sm-items="1"
             data-xs-items="1" data-xx-items="1" data-space="30" data-autoplay="true">
            @await Component.InvokeAsync("Messages")
        </div>
    </div>
</section>
<!-- End Services -->
<!-- Portfolio -->
<section id="work" data-nav-tooltip="Work" class="pp-section pp-scrollable section dark-bg">
    <div class="container">
        <div class="title">
            <h3>نمونه‌کارهای من.</h3>
        </div>
        <div class="portfolio-filter-01">
            <ul class="filter nav">
                <li class="active" data-filter="*">همه</li>
                <li data-filter=".branding">برندسازی</li>
                <li data-filter=".photoshop">فتوشاپ</li>
                <li data-filter=".fashion">مد و زیبایی</li>
                <li data-filter=".product">محصول</li>
            </ul>
        </div> <!-- Portfolio Filter -->
        <div class="portfolio-content grid-gutter-lg grid-col-3 lightbox-gallery">
            <div class="grid-item product branding fashion">
                <div class="portfolio-box-01">
                    <div class="portfolio-info">
                        <h5 class="white-color primary-font">عنوان نمونه کار</h5>
                        <span>برندسازی ، مد و زیبایی</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique exercitationem
                            eligendi distinctio deleniti repellat labore iusto perferendis voluptatem incidunt
                            illum!
                        </p>
                        <div class="flex justify-content-center py-2">
                            <a href="">
                                <i class="fas fa-cloud-download-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-img">
                        <img src="/static/img/m-portfolio-1.jpg" title="" alt="">
                        <div class="portfolio-icon">
                            <a href="/static/img/m-portfolio-1.jpg" class="gallery-link">
                                <span class="ti-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item product branding fashion">
                <div class="portfolio-box-01">
                    <div class="portfolio-info">
                        <h5 class="white-color primary-font">عنوان نمونه کار</h5>
                        <span>برندسازی ، مد و زیبایی</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique exercitationem
                            eligendi distinctio deleniti repellat labore iusto perferendis voluptatem incidunt
                            illum!
                        </p>
                        <div class="flex justify-content-center py-2">
                            <a href="">
                                <i class="fas fa-cloud-download-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-img">
                        <img src="/static/img/m-portfolio-1.jpg" title="" alt="">
                        <div class="portfolio-icon">
                            <a href="/static/img/m-portfolio-1.jpg" class="gallery-link">
                                <span class="ti-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
<!-- End Portfolio -->
<!-- Blog -->
<section id="blog" data-nav-tooltip="Blog" class="pp-section pp-scrollable section">
    <div class="container">
        <div class="title">
            <h3>مطالب بلاگ.</h3>
        </div>
        <div class="row">
            <div class="col-md-6 m-15px-tb">
                <div class="blog-grid">
                    <div class="blog-img">
                        <a href="single-blog.html">
                            <img src="/static/img/blog-1.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <div class="meta">24 تیر 1400 - وب سایت - 1 دیدگاه</div>
                        <h6 class="primary-font">
                            <a href="single-blog.html">
                                لورم ایپسوم متن ساختگی با تولید
                                سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 m-15px-tb">
                <div class="blog-grid">
                    <div class="blog-img">
                        <a href="single-blog.html">
                            <img src="/static/img/blog-2.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <div class="meta">24 تیر 1400 - وب سایت - 1 دیدگاه</div>
                        <h6 class="primary-font">
                            <a href="single-blog.html">
                                لورم ایپسوم متن ساختگی با تولید
                                سادگی نامفهوم از صنعت چاپ و با استفاده از
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 m-15px-tb">
                <div class="blog-grid">
                    <div class="blog-img">
                        <a href="single-blog.html">
                            <img src="/static/img/blog-3.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <div class="meta">24 تیر 1400 - وب سایت - 1 دیدگاه</div>
                        <h6 class="primary-font">
                            <a href="single-blog.html">
                                لورم ایپسوم متن ساختگی با تولید
                                سادگی نامفهوم از صنعت چاپ و با
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 m-15px-tb">
                <div class="blog-grid">
                    <div class="blog-img">
                        <a href="single-blog.html">
                            <img src="/static/img/blog-4.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <div class="meta">24 تیر 1400 - وب سایت - 1 دیدگاه</div>
                        <h6 class="primary-font">
                            <a href="single-blog.html">
                                لورم ایپسوم متن ساختگی با تولید
                                سادگی نامفهوم از صنعت چاپ و با استفاده
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 read-more-blog text-center">
                <a class="px-btn px-btn-theme" href="blog.html">مشاهده بیشتر</a>
            </div>
        </div>
    </div>
</section>
<!-- End Blog -->
<!-- Contact us -->
<section id="contactus" data-nav-tooltip="Contact Me" class="pp-section pp-scrollable section dark-bg">
    <partial name="_Contact" />
</section>
<!-- End Contact us -->
<!-- Menu Overlay -->
<div class="menu-overlay"></div>
<!-- End Menu Overlay -->
@section Scripts{
    <script>
const { log } = require("util");

        function send_mail() {
            var name = $("#name").val();
            var email = $("#email").val();
            var number = $("#number").val();
            var subject = $("#subject").val();
            var message = $("#message").val();

            var flag = 0;

            if (name == "") {
                jQuery("#name").addClass('invalid');
                jQuery("#val_user_name").html("وارد کردن نام الزامی است");
                flag = 1;
            } else {
                jQuery("#name").removeClass('invalid');
                jQuery("#val_user_name").html("");
            }

            if (subject == "") {
                jQuery("#subject").addClass('invalid');
                jQuery("#val_subject").html("وارد کردن موضوع الزامی است");
                flag = 1;
            } else {
                jQuery("#subject").removeClass('invalid');
                jQuery("#val_subject").html("");
            }

            if (message == "") {
                jQuery("#message").addClass('invalid');
                jQuery("#val_message").html("لطفا پیام خود را وارد کنید");
                flag = 1;
            } else {
                jQuery("#message").removeClass('invalid');
                jQuery("#val_message").html("");
            }

            if (flag == 1) {
                return false;
            }

            var data = {
                "name": name,
                "subject": subject,
                "message": message,
                "email": email,
                "number": number
            };

            jQuery('.form-message').hide();
            jQuery('#snd_message').show();

            $.ajax({
                url: "/SendMessage", //1
                data: data, //2
                type: "Get", //3
            }).done(function () {
                Swal.fire(
                    'ارسال شد',
                    'پیام با موفقیت ارسال شد',
                    'success'
                ).then(() => {
                    $("#name").val('');
                    $("#email").val('');
                    $("#number").val('');
                    $("#subject").val('');
                    $("#message").val('');
                });
            });
        }
    </script>
}