@model EditProfileViewModel
@{
    ViewData["Title"] = "ویرایش پروفایل";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="card-title">ویرایش پروفایل</h6>
                </div>
                <form asp-controller="ProfileImage" asp-action="EditProfile" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ProfileId" />
                    <input type="hidden" asp-for="ProfileImage" />
                    <div class="form-group ">
                        <label for="profileInput">
                            <img src="/image/@Model.ProfileImage" style="width:120px;height:120px;border-radius:50%;cursor:pointer" id="image" />
                        </label>
                        <input type="file" asp-for="File" id="profileInput" style="display:none" />
                    </div>
                    <button class="btn btn-primary" type="submit">ویرایش</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    const image = document.getElementById('image');
    const profileInput = document.getElementById('profileInput');
    profileInput.addEventListener('change',(e)=>{
        const file = e.target.files[0];
        image.src = URL.createObjectURL(file);
    })
</script>
}


