<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>پنل مدیریت | @ViewData["Title"]</title>
    <partial name="_HeaderRefrences" />
</head>

<body class="rtl">
    <div class="main-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <partial name="_Sidebar" />
        <!-- partial -->
        <div class="page-wrapper">
            <!-- partial:partials/_navbar.html -->
            <partial name="_Navbar" />
            <!-- partial -->
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <partial name="_FooterRefrences" />
    @RenderSection("Scripts", false)
    <script src="/js/signalr.js"></script>
    <script>
            let connection = new signalR.HubConnectionBuilder()
            .withUrl("/NotifHub")
            .build();
            connection.start().then(() => {
            console.log("connected")
        });
        connection.on("CountNewMessage",CountNewMessage);
        connection.on("ShowNewNumber",ShowNewNumber);
        function CountNewMessage(){
            connection.invoke("AddNewMessage");
        }
        function ShowNewNumber(Count){
            if(Count.count === 0){
                $("#messagesCount").css("display","none");
            }else if(Count.count === 1){
                $("#messagesCount").css("display","inline-block");
                $("#messagesCount").text(Count.count);
            }else{
                $("#messagesCount").css("display","inline-block");
                $("#messagesCount").text(Count.count);
            }
        }
    </script>
    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"><defs id="SvgjsDefs1002"></defs><polyline id="SvgjsPolyline1003" points="0,0"></polyline><path id="SvgjsPath1004" d="M0 0 "></path></svg>
    <div class="datepicker-plot-area" style="top: 118px; left: 383.5px; display: none;"><div class="navigator"><div class="datepicker-header"><div class="btn-next">&lt;&lt;</div><div class="btn-switch">۱۴۰۰ شهریور</div><div class="btn-prev">&gt;&gt;</div></div></div> <div class="datepicker-day-view" style=""><div class="month-grid-box today"><div class="header"><div class="title"></div><div class="header-row"><div class="header-row-cell">ش</div><div class="header-row-cell">ی</div><div class="header-row-cell">د</div><div class="header-row-cell">س</div><div class="header-row-cell">چ</div><div class="header-row-cell">پ</div><div class="header-row-cell">ج</div></div></div><table cellspacing="0" class="table-days"><tbody><tr><td><span unixdate="1629487800000" class="other-month">۳۰</span></td><td><span unixdate="1629574200000" class="other-month">۳۱</span></td><td><span unixdate="1629660600000">۱</span></td><td><span unixdate="1629747000000">۲</span></td><td><span unixdate="1629833400000">۳</span></td><td><span unixdate="1629919800000">۴</span></td><td><span unixdate="1630006200000">۵</span></td></tr><tr><td><span unixdate="1630092600000">۶</span></td><td><span unixdate="1630179000000">۷</span></td><td><span unixdate="1630265400000">۸</span></td><td><span unixdate="1630351800000">۹</span></td><td><span unixdate="1630438200000">۱۰</span></td><td><span unixdate="1630524600000">۱۱</span></td><td><span unixdate="1630611000000">۱۲</span></td></tr><tr><td><span unixdate="1630697400000">۱۳</span></td><td><span unixdate="1630783800000">۱۴</span></td><td><span unixdate="1630870200000">۱۵</span></td><td><span unixdate="1630956600000" class="today selected">۱۶</span></td><td><span unixdate="1631043000000">۱۷</span></td><td><span unixdate="1631129400000">۱۸</span></td><td><span unixdate="1631215800000">۱۹</span></td></tr><tr><td><span unixdate="1631302200000">۲۰</span></td><td><span unixdate="1631388600000">۲۱</span></td><td><span unixdate="1631475000000">۲۲</span></td><td><span unixdate="1631561400000">۲۳</span></td><td><span unixdate="1631647800000">۲۴</span></td><td><span unixdate="1631734200000">۲۵</span></td><td><span unixdate="1631820600000">۲۶</span></td></tr><tr><td><span unixdate="1631907000000">۲۷</span></td><td><span unixdate="1631993400000">۲۸</span></td><td><span unixdate="1632079800000">۲۹</span></td><td><span unixdate="1632166200000">۳۰</span></td><td><span unixdate="1632256200000">۳۱</span></td><td><span unixdate="1632342600000" class="other-month">۱</span></td><td><span unixdate="1632429000000" class="other-month">۲</span></td></tr><tr><td><span unixdate="1632515400000" class="other-month">۳</span></td><td><span unixdate="1632601800000" class="other-month">۴</span></td><td><span unixdate="1632688200000" class="other-month">۵</span></td><td><span unixdate="1632774600000" class="other-month">۶</span></td><td><span unixdate="1632861000000" class="other-month">۷</span></td><td><span unixdate="1632947400000" class="other-month">۸</span></td><td><span unixdate="1633033800000" class="other-month">۹</span></td></tr></tbody></table></div></div><div class="datepicker-month-view" style="display: none;"><div class="month1 month-item">فروردین</div><div class="month2 month-item">اردیبهشت</div><div class="month3 month-item">خرداد</div><div class="month4 month-item">تیر</div><div class="month5 month-item">مرداد</div><div class="month6 month-item selected">شهریور</div><div class="month7 month-item">مهر</div><div class="month8 month-item">آبان</div><div class="month9 month-item">آذر</div><div class="month10 month-item">دی</div><div class="month11 month-item">بهمن</div><div class="month12 month-item">اسفند</div></div><div class="datepicker-year-view" style="display: none;"><div class="year-item">۱۳۹۲</div><div class="year-item">۱۳۹۳</div><div class="year-item">۱۳۹۴</div><div class="year-item">۱۳۹۵</div><div class="year-item">۱۳۹۶</div><div class="year-item">۱۳۹۷</div><div class="year-item">۱۳۹۸</div><div class="year-item">۱۳۹۹</div><div class="year-item selected">۱۴۰۰</div><div class="year-item">۱۴۰۱</div><div class="year-item">۱۴۰۲</div><div class="year-item">۱۴۰۳</div></div><div class="datepicker-time-view" style="display: none;"></div><div class="toolbox "><div class="btn-today">امروز</div></div></div>
</body>
</html>
