<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <partial name="_MetaTags" />

    <!-- title -->
    <title>@ViewData["Title"]</title>

    <partial name="_HeaderRefrences" />

    <!-- theme color -->
    <meta name="theme-color" content="#2fbf71">

</head>

<!-- Body Start -->

<body>

    <!-- page loading -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- End -->
    <!-- Header Start -->
    <div class="mob-header">
        <div class="d-flex">
            <div class="navbar-brand">
                <a class="logo-text" href="index.html">
                    امین مردانی
                </a>
            </div>
            <button class="toggler-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
    <!-- End Header -->
    <!-- nav bar -->
    <partial name="_SideBar" />
    <!-- End nav bar -->
    <!-- Main Start -->
    <main class="main-left pp-main-section">
        @RenderBody()
    </main>
    <!-- End Main -->
    <partial name="_FooterRefrences" />

</body>
<!-- Body End -->

</html>