<header class="header-left">
    <div class="scroll-bar">
        <div class="hl-top">
            <div class="hl-logo">
                <div class="img">
                    <img src="/static/img/about-me.jpg" title="" alt="">
                </div>
                <h5 class="primary-font">امین مردانی</h5>
            </div>
        </div>
        <ul class="nav nav-menu" id="pp-menu">
            <li class="active" data-menuanchor="home">
                <a class="nav-link" href="#home">
                    <i class="ti-home"></i>
                    <span>خانه</span>
                </a>
            </li>
            <li data-menuanchor="about">
                <a class="nav-link" href="#about">
                    <i class="ti-id-badge"></i>
                    <span>درباره من</span>
                </a>
            </li>
            <li data-menuanchor="services">
                <a class="nav-link" href="#services">
                    <i class="ti-panel"></i>
                    <span>خدمات</span>
                </a>
            </li>
            <li data-menuanchor="work">
                <a class="nav-link" href="#work">
                    <i class="ti-bookmark-alt"></i>
                    <span>نمونه‌کارها</span>
                </a>
            </li>
            <li data-menuanchor="blog">
                <a class="nav-link" href="#blog">
                    <i class="ti-layout-media-overlay-alt-2"></i>
                    <span>بلاگ</span>
                </a>
            </li>
            <li data-menuanchor="contactus">
                <a class="nav-link" href="#contactus">
                    <i class="ti-map-alt"></i>
                    <span>تماس با من</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav justify-content-center social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-telegram"></i></a>
    </div>
</header>