@model EditSkillDetailViewModel
@{
    ViewData["Title"] = "ویرایش مهارت";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="card-title">ویرایش مهارت</h6>
                    <a href="/Admin/Skill/Details/@ViewBag.SkillId">
                        بازگشت <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-up-left"><polyline points="9 14 4 9 9 4"></polyline><path d="M20 20v-7a4 4 0 0 0-4-4H4"></path></svg>
                    </a>
                </div>
                <form asp-controller="SkillDetail" asp-action="EditDetail">
                    <input type="hidden" asp-for="SkillId" value="@ViewBag.SkillId" />
                    <input type="hidden" asp-for="SkillDetailId" />
                    <div class="form-group">
                        <label for="exampleInputText1">عنوان مهارت</label>
                        <input type="text" class="form-control" asp-for="SkillTitle" placeholder="عنوان مهارت" />
                        <span asp-validation-for="SkillTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputText1">درصد مهارت</label>
                        <input type="number" min="0" class="form-control" asp-for="SkillPercent" placeholder="درصد مهارت" />
                        <span asp-validation-for="SkillPercent" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary" type="submit">ویرایش</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

