@using Application.ViewModel.LoginViewModel
@model LoginViewModel
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ورود به پنل ادمین</title>
    <partial name="_HeaderRefrences" />
</head>

<body class="rtl">
    <div class="main-wrapper">
        <div class="page-wrapper full-page">
            <div class="page-content d-flex align-items-center justify-content-center">

                <div class="row w-100 mx-0 auth-page">
                    <div class="col-md-8 col-xl-6 mx-auto">
                        <div class="card">
                            <div class="row">
                                <div class="col-md-4 pl-md-0">
                                    <div class="auth-left-wrapper">
                                    </div>
                                </div>
                                <div class="col-md-8 pr-md-0">
                                    <div class="auth-form-wrapper px-4 py-5">
                                        <h5 class="text-muted font-weight-normal mb-4">خوش آمدید! به حساب کاربری خود وارد شوید</h5>
                                        <form class="forms-sample" method="post" href="/Admin/Account/Login">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">ایمیل</label>
                                                <input type="text" class="form-control" asp-for="Email" placeholder="ایمیل">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">رمز عبور</label>
                                                <input type="password" class="form-control" asp-for="Password" id="exampleInputPassword1" autocomplete="current-password" placeholder="رمز عبور شما">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-check form-check-flat form-check-primary">
                                                <label class="form-check-label">
                                                    <input type="checkbox" asp-for="RememberMe" class="form-check-input">
                                                    مرا به خاطر بسپار
                                                    <i class="input-frame"></i>
                                                </label>
                                            </div>
                                            <div class="mt-3">
                                                <button class="btn btn-primary text-white ml-2 mb-2 mb-md-0" type="submit">ورود</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <partial name="_FooterRefrences" />
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

</body>
</html>
